@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner:wght@600&family=Edu+VIC+WA+NT+Beginner:wght@600&family=Poppins:wght@300;500&family=Red+Hat+Display:wght@700;900&display=swap');
*, ::before, ::after
{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
h1
{
	position: relative;
}
h1:after
{
	content: "";
	position:absolute;
	background-color: rgba(125, 234, 195, 0.3);
	height: 3px;
	width: 10%;
	left: 0;
	bottom: -10px;
}


body
{
	font-family: 'Edu SA Beginner', cursive;
	font-family: 'Edu VIC WA NT Beginner', cursive;
	font-family: 'Poppins', sans-serif;
	font-family: 'Red Hat Display', sans-serif;

	height: 100vh;
	width: 100%;
	/* TODO: Let us add background from unsplash*/
	background: url(https://bit.ly/3yrHbga) center/cover no-repeat;


}

.form-container
{
	position: relative;
	top: 13%;
	margin: auto;
	max-width: 700px;
	height: 550px;
	background-color: rgba(216, 210, 210, 0.7);
	color: white;
	border-radius: 5px;	
	box-shadow: 0 0 10px 5px  rgba(0, 0, 0, 0.4);
	
}

#loginForm
{
	padding: 10px;
}

.btn
{	position: absolute;
	width: 500px;
    margin: -6% 14% 0% 14%;
	border-radius: 5px;
	background-color: rgba(125, 234, 195, 0.7);
}

.btn:active
{
	transform: scale(0.98);
	

}
#eyeIcon
{
	cursor: pointer;
}
.alert-message
{
	visibility:hidden;
}

.form-field.error input
{
	border-color: red;
}

.form-field.success input
{
	border-color: greenyellow;
}

.form-field.onFocus input
{
	color: white;
	font-weight: 500;
	
}